*{
    margin: 0;
    padding: 0;
}
.logo{
    font-family: 'Koulen', cursive;
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin-left: 5px;
}
#logo1{
    font-family: 'Metal Mania', cursive;
    font-size: 80px;
}
.home{
     font-family: 'Kdam Thmor Pro', sans-serif;
     font-weight: bold;
     color: white;
     margin-left: 50px;
}
.home:hover{
    color: red;
}
.img{
    width: 50px;
    height: 50px;
    
}
.footer-back{
    background-color: black;
}
.footer-text{
    font-weight: 100;
    cursor: pointer;
    color: white;
}
.footer-text:hover{
    color: red;
}