*{
    margin: 0;
    padding: 0;
}
.logo{
    font-family: 'Koulen', cursive;
    /* font-family: 'Kdam Thmor Pro', sans-serif; */
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin-left: 5px;
}
#logo1{
    font-family: 'Bangers', cursive;
    /* color:olivedrab; */
    
    font-size: 70px;
}
.home{
     font-family: 'Kdam Thmor Pro', sans-serif;
     font-weight: bold;
     color: white;
     margin-left: 50px;
}
.home:hover{
    color: red;
}